<nav class="flex items-center justify-between flex-wrap bg-teal p-6">
  <div class="flex items-center flex-no-shrink text-black mr-6">
    <span class="font-semibold text-xl tracking-tight">Simple Notes</span>
  </div>
  <div class="block lg:hidden">
    <button 
      class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-black hover:border-white">
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a  routerLink="/notes"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-gray-500 mr-4">
        Notes
      </a>
      <a routerLink="notes/new" 
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-gray-500 mr-4">
        Create
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  </div>
</nav>

<app-messages></app-messages>


<div class="flex m-4">
  <div class="w-full bg-white rounded mr-4 ">
    <router-outlet></router-outlet>
  </div>
</div>  
